.backButtonTop {
    margin-bottom: 10px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
}

.backButtonBot {
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
}

.backButtonTop:hover, .backButtonBot:hover {
    background-color: rgba(211,211,211,.2);
}

.adContainer {
    padding: 10px;
    max-width: 760px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.favorite {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.title > h3 {
    text-align: center;
    margin: 0;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header > p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.carouselContainer {
    padding: 10px;
    border: 1px solid lightgray;
}

.image {
    max-height: 500px;
    object-fit: contain;
    background-color: #fff;
    touch-action: none;
}

.statusIndicator {
    color: lightgrey;
    font-size: 16px;
}

.arrowLeft {
    padding: 0;
    position: absolute;
    top: 45%;
    left: 5px;
    background: none;
    cursor: pointer;
    color:rgb(233, 96, 155);
    z-index: 1;
}

.arrowRight {
    padding: 0;
    position: absolute;
    top: 45%;
    right: 5px;
    background: none;
    border: 0;
    cursor: pointer;
    color: rgb(233, 96, 155);
    z-index: 1;
}

.indicatorStylesSelected {
    cursor: pointer;
    border-radius: 50%;
    background: rgb(233, 96, 155);
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 8px;
}

.indicatorStyles {
    cursor: pointer;
    border-radius: 50%;
    background: lightgray;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 8px;
}

.resultsAdNoImage {
    font-size: 16px;
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, .5);
    border-radius: 20px;
    color: gray;
    font-weight: 400;
    margin: auto;
}

.body > article {
    text-align: center;
}

.area > p {
    margin: 10px 0 10px 0;
}

.resultsAdFooter {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.footerPriceProvince {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerPrice {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    color:rgb(114, 191, 128);
    display: flex;
    align-items: center;
}

.footerPrice > p {
    margin: 0;
}

.footerProvince > p {
    margin: 0;
    text-align: end;
}

.resultsAdFooter > p {
    margin: 0;
    text-align: end;
}

.footerCategories {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(233, 96, 155,.1);
    border: 1px solid lightgray;
    padding: 10px;
}

.footerCategories > p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    text-transform: capitalize;
}

.footerCategories > p > span, .tagsContainer > p > span {
    color: rgb(114, 191, 128);
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tagsContainer > p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.contactButton {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    height: 60px;
    width: 110px;
    border-radius: 20px;
    border: 2px ridge rgb(233, 96, 155);
    margin-bottom: 10px;
}

.elapsedReport {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.elapsedTime {
    margin: 0;
}

.reportButton {
    border-style: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}