.modalContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

.title > h4 {
    padding: 5px;
    font-weight: 600;
    width: fit-content;
    text-align: center;
    margin: 0;
    border-radius: 10px;
}

.title > h4 > span {
    text-transform: capitalize;
    color:rgb(233, 96, 155);
}

.phoneP {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    fill: rgb(233, 96, 155);
}

.phoneP > p {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.emailContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.nameInput, .emailInput {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    border: 2px solid rgb(114, 191, 128);
}

.bodyContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bodyInput {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    border: 2px solid rgb(114, 191, 128);
}

.bodyContainer > p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.recaptcha {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalFooter {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.modalSendButton {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    fill:rgb(114, 191, 128);
    font-weight: 400;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 2px ridge rgb(114, 191, 128);
}

.modalSendButton:hover {
    background-color: rgba(211,211,211,.2);
}

.thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thankyou > h3 {
    margin: 20px 0 0 0;
    color: rgb(233, 96, 155);
    font-weight: 600;
}

.thankyou > p {
    text-align: center;
}
