.container {
    width: 100%;
    max-width: 760px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 16px;
    z-index: 1;
}

.subContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgb(233, 96, 155);
    padding: 5px;
}

.link, .link:visited, .link:active {
    color: rgb(233, 96, 155);
}

.button {
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(233, 96, 155);
    color:rgb(233, 96, 155);
    font-weight: 400;
    font-size: 14px;
    text-shadow: 1px 1px 1px navy;
    background-color: #fff;
    width: fit-content;
    padding: 5px;
    height: fit-content;
}

.button:hover {
    background-color: rgba(211,211,211,.2);
}