.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.categoriesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.categoriesContainer > p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.categoriesSelect {
    background-color: rgba(0,0,0,.5);
    border-radius: 10px 100px / 120px;
    padding: 5px;
    text-align: center;
    text-align-last: center;
}

.categoriesContainer > p > span {
    color: rgb(233, 96, 155);
    font-weight: 700;
}

.clearBtn {
    display: flex;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    fill: rgb(233, 96, 155);
    border-style: none;
    -webkit-animation: loading 10s linear infinite;
    -moz-animation: loading 10s linear infinite;
    animation: loading 10s linear infinite;
}

.provinceSelect, .sortSelect, .yearSelect {
    border-radius: 10px 100px / 120px;
    padding: 5px;
    background-color: rgba(0,0,0,.5);
    flex: 1;
    text-align: center;
    text-align-last: center;
}

.searchTextInput {
    background-color: rgba(0,0,0,.5);
    border-radius: 10px 100px / 120px;
    padding-left: 10px;
    height: 50px;
    flex: 1;
    text-align: center;
}

.searchTextInput::placeholder {
    color: #fff;
}

.searchTextInput:focus {
    outline: none;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .provinceSelect, .sortSelect, .yearSelect {
        width: 100%;
        flex: none;
    }
    .searchTextInput {
        width: 100%;
        flex: none;
    }
    .categoriesContainer {
        width: 100%;
        flex: none;
    }
}

/* .deleteSearchButton {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	background-color: transparent;
    border-style: none;
    
	z-index:1;
	right: 20px;
	top: 0;
    bottom: 60px;
	font-size: 20px;
    font-weight: 600;
	cursor: pointer;
} */


