.footer {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.linksDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 5px;
}

.pinkLink, .pinkLink:visited, .pinkLink:active {
    color:rgb(233, 96, 155);
}