.container {
    display: flex;
    justify-content: center;
}

.headerFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
    max-width: 760px;
}

.header {
    display: flex;
    height: auto;
    justify-content: space-between;
    gap: 10px;
    margin: 0 0 20px 0;
}

.imageSocials {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    max-width: 200px;
}

.socials {
    display: flex;
    margin-left: 5px;
    gap: 5px;
}

.sessionButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.noSession {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginLink {
    padding: 5px;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.buscarButton,
.publicarLink,
.mipanelLink {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    font-size: 22px;
    /* text-shadow: 1px 1px 1px rgb(114, 191, 128); */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    height: 60px;
    width: 110px;
    line-height: 20px;
    border-radius: 20px;
    border: 2px ridge rgb(233, 96, 155);
}

.buscarButton:hover,
.publicarLink:hover,
.mipanelLink:hover {
    background-color: rgba(211,211,211,.2);
}

.buscarButton:active,
.publicarLink:active,
.mipanelLink:active {
    background-color: rgba(211,211,211,.2);
}