.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(133,133,133);
}

.firstQuestionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.firstQuestionContainer h3 {
    font-weight: 600;
}

.firstQuestionContainer > p {
    text-align: center;
}

.firstQuestion {
    margin: 0;
    text-align: center;
}

.firstQuestionO {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.firstQuestion > span {
    color: rgb(233, 96, 155);
}

.link {
    color: rgb(233, 96, 155);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

.formText {
    margin: 0 0 0 5px;
    font-size: 14px;
    color: lightgrey;
    width: 100%;
}

.nameContainer,
.emailContainer,
.passwordContainer,
.titleContainer,
.bodyContainer,
.provinceContainer,
.areaContainer,
.phoneContainer,
.priceContainer,
.categoriesContainer,
.checkboxContainer,
.yearsContainer,
.imagesContainer,
.tagsContainer,
.countryContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.priceContainer {
    justify-content: space-between;
}

.negotiableDiv {
    display: flex;
    align-items: center;
}

.passwordContainer, .imagesContainer {
    justify-content: space-between;
}

.nameLabel,
.emailLabel,
.passwordLabel,
.titleLabel,
.bodyLabel,
.provinceLabel,
.areaLabel,
.phoneLabel,
.priceLabel,
.categoriesLabel,
.imagesLabel,
.label,
.countryLabel {
    margin-bottom: 2px;
}

.negotiableLabel {
    font-size: 20px;
}

.negotiableInput {
    margin: 0 5px 0 0;
    height: 15px;
    width: 15px;
}

.imagesButton {
    padding: 10px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgb(114, 191, 128);
    color: white;
    border-radius: 10px;
    width: fit-content;
    font-size: 14px;
}

.bodyInput {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}

.nameInput,
.emailInput,
.passwordInput,
.titleInput,
.provinceSelect,
.areaInput,
.phoneInput,
.priceInput,
.categoriesSelect,
.yearSelect,
.countrySelect {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    width: 100%;
}

.provinceSelect,
.categoriesSelect {
    background-color: rgba(0,0,0,.5);
}

.imagesInput {
    display: none;
}

.imagePreview {
    display: flex;
    width: 100%;
    gap: 5px;
}

.thumbsContainer {
    display: flex;
    margin: 5px 0 0 0;
    width: 75px;
}

.deleteImageButton {
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border-style: none;
    background-color: transparent;
    color: red;
    font-size: 30px;
    height: fit-content;
    width: fit-content;
    position: relative;
    bottom: 30px;
    right: 8px;
}

.randomPasswordButton {
    height: 25px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgb(114, 191, 128);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}

.checkboxContainer {
    gap: 10px;
}

.checkboxLabel {
    font-size: 20px;
}

.checkboxInput {
    width: 25px;
}

.termsLink {
    color: rgb(233, 96, 155);
}

.submitButton {
    cursor: pointer;
    gap: 5px;
    display: flex;
    font-weight: 600;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-decoration: none;
    height: 50px;
    border-radius: 10px 100px / 120px;
    border: 2px ridge rgb(233, 96, 155);
}

.submitButton:hover {
    background-color: rgba(211,211,211,.2);
}

.error {
    margin: 0;
    color: red;
    font-size: 18px;
}

.container > h3 {
    text-align: center;
    margin:0;
    font-weight: 600;
}

.container > h3 > span {
    color: rgb(233, 96, 155);
}

.container > p {
    margin: 0;
    text-align: center;
}

.container > p > span {
    color:rgb(233, 96, 155)
}