.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    border: 1px solid rgb(133,133,133);
}

.title {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    line-height: 1;
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.emailContainer,
.messageContainer,
.nameContainer,
.optionsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.emailLabel,
.messageLabel,
.nameLabel,
.optionsLabel {
    font-weight: 400;
}

.contactEmail,
.contactName,
.contactOptions {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0,0,0,.5);
}

.contactMessage {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

.loginButton, .thankyouButton {
    cursor: pointer;
    display: flex;
    gap: 5px;
    fill: rgb(114, 191, 128);
    font-weight: 400;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 2px ridge rgb(233, 96, 155);
}

.loginButton:hover, .thankyouButton:hover {
    background-color: rgba(211,211,211,.2);
}

.error {
    text-align: center;
    margin: 0;
    color: red;
    font-size: 20px;
}

.h3 {
    margin: 0;
    text-align: center;
    font-weight: 600;
}

.h3 > span {
    color:rgb(233, 96, 155);
}

.thankyouContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}