.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.title {
    margin: 0;
    text-align: center;
    max-width: 270px;
    background-color: #fff;
    color:rgb(233, 96, 155);
    padding: 10px;
    border-radius: 10px;
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.emailContainer,
.messageContainer,
.nameContainer,
.optionsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.emailLabel,
.messageLabel,
.nameLabel,
.optionsLabel {
    margin-bottom: 10px;
    font-weight: 400;
    color:rgb(233, 96, 155);
}

.contactEmail,
.contactName,
.contactOptions {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 22px;
    border-color: rgb(114, 191, 128);
    border-width: 2px;
    height: 40px;
    padding: 5px;
}

.contactMessage {
    border-radius: 10px;
    font-size: 22px;
    border-color: rgb(114, 191, 128);
    border-width: 2px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.loginButton, .thankyouButton {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgb(114, 191, 128);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: rgb(233, 96, 155);
    text-decoration: none;
    height: 60px;
    width: 110px;
    border-radius: 20px;
    border: 2px ridge rgb(233, 96, 155);
}

.loginButton:hover, .thankyouButton:hover {
    background-color: rgba(211,211,211,.2);
}

.error {
    text-align: center;
    margin: 0;
    color: red;
    font-size: 20px;
}

.h3 {
    margin: 0;
    text-align: center;
}

.h3 > span {
    color:rgb(233, 96, 155);
}

.thankyouContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}