.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.title {
    margin: 0;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 1;
}

.form, .forgottenForm {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.emailContainer, .forgottenEmailContainer,
.passwordContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.emailLabel, .forgottenEmailLabel,
.passwordLabel {
    font-weight: 400;
}

.loginEmail, .forgottenLoginEmail,
.loginPassword {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.loginButton, .forgottenSendButton, .forgottenCancelButton, .thankyouButton {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    height: 60px;
    width: 110px;
    border-radius: 20px;
    border: 2px ridge rgb(233, 96, 155);
}

.loginButton:hover, .forgottenSendButton:hover, .forgottenCancelButton:hover {
    background-color: rgba(211,211,211,.2);
}

.forgottenCancelButton {
    border-color: rgb(233, 96, 155);
    color: rgb(233, 96, 155);
}

.forgottenButton {
    cursor: pointer;
    border-style: none;
    text-decoration: underline;
    
    font-size: 22px;
    background-color: transparent;
    color: rgb(233, 96, 155)
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}

.formText {
    margin: 0;
    font-size: 14px;
    color: grey;
    text-align: center;
}

.error {
    text-align: center;
    margin: 0;
    color: red;
    font-size: 16px;
}

.h3 {
    text-align: center;
}

.h3span {
    color: rgb(233, 96, 155)
}

.thankyouContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;
}