.container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    border: 1px solid rgb(133,133,133);
    border-radius: 10px;
}

.title {
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    width: fit-content;
}

.paypalImage {
    border-style: none;
    height: 30px;
}

.blockContainer {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blockContainer > h5 {
    margin: 0;
    color: rgb(233, 96, 155);
}

.blockContainer > p,
.blockContainer > ol {
    font-size: 18px;
}

.blockContainer > p > span,
.blockContainer > ol > li > p > span,
.blockContainer > ol > li > ol > li > p > span,
.link, .link:active, .link:visited {
    color: rgb(233, 96, 155);
}

.bottomButton {
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    fill: rgb(114, 191, 128);
    border-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.bottomButton:hover {
    background-color: transparent;
}