.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form > h3 {
    text-align: center;
    font-weight: 600;
}

.pass1Container, .pass2Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.randomPasswordButton {
    width: fit-content;
    cursor: pointer;
    border-style: none;
    background-color: rgb(114, 191, 128);
    color: #fff;
    border-radius: 10px;
}

.passwordLabel {
    color:rgb(233, 96, 155);
    margin-bottom: 2px;
    width: fit-content;
}

.passwordInput {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}

.submitButton {
    cursor: pointer;
    display: flex;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border-color: rgb(233, 96, 155);
    border-width: 2px;
    border-style: solid;
}

.error {
    margin: 5px 0 0 0;
    color: red;
    font-size: 16px;
}

.thankyouMessage {
    text-align: center;
    font-weight: 600;
}

.loginLink {
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.span {
    color: rgb(233, 96, 155);
}