.titleContainer {
    display: flex;
    justify-content: center;
}

.titleContainer > h3 {
    margin: 0 0 20px 0;
    font-weight: 600;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
}

.titleContainer > h3 > span {
    color:rgb(233, 96, 155);
}

.noads {
    margin: 0;
    font-size: 16px;;
}

.adsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adsLabel, .userLabel {
    display: flex;
    justify-content: flex-start;
    color: rgb(233, 96, 155);
}

.adDiv {
    display: flex;
    align-items: center;
    padding: 2%;
    font-size: 16px;
    justify-content: space-between;
    height: 40px;
    border: 2px solid rgb(133,133,133);
    border-radius: 10px;
    gap: 10px;
}

.adTitle {
    width: 30%;
}

.adTitle > p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adLink {
    width: fit-content;
}

.adLinkA {
    color: rgb(233, 96, 155)
}

.adButtons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    height: fit-content;
}

.newAdButtonDiv {
    text-align: center;
}

.editButton, .deleteButton, .newAdButton, .formButton, .formDeleteButton {
    display: flex;
    color: #fff;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(233, 96, 155);
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
}

.deleteButton {
    color: red;
}

.editButton, .deleteButton {
    height: 30px;
}

.newAdButtonDiv {
    margin: 0 0 20px 0;
}

.newAdButton, .formButton, .formDeleteButton {
    cursor: pointer;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 2px ridge rgb(233, 96, 155);
}

.newAdButton:hover,
.formButton:hover,
.editButton:hover,
.deleteButton:hover,
.formDeleteButton:hover,
.cancelButton:hover,
.saveButton:hover {
    background-color: rgba(211,211,211,.2);
}

.formDeleteButton {
    color: red;
    border: 2px ridge red;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userDiv, .emailDiv, .passwordDiv, .password2Div {
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border: 2px solid rgb(133,133,133);
    border-radius: 10px;
}

.userDiv > p, .emailDiv > p, .passwordDiv > p, .password2Div > p {
    margin: 0;
    font-size: 16px;
}

.labels {
    font-size: 16px;
}

.nameInput, .emailInput, .passwordInput, .password2Input {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}

.emailNote, .passwordNote {
    margin: 0;
    font-size: 14px;
    color: lightgrey;
    text-align: end;
}

.unverified {
    margin: 0;
    font-size: 14px;
    color: lightgrey;
}

.modal {
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modalContent {
    padding: 10px;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    background-color: rgba(0,0,0,.5);
}

.modalContent > h4 {
    margin: 0;
    text-align: center;
}

.modalContent > h4 > span {
    color: red;
}

.modalButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cancelButton, .saveButton {
    color: rgb(122, 65, 113);
    border-radius: 10px;
    border: 2px solid rgb(233, 96, 155);
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    font-size: 18px;
}

.saveButton {
    color: red;
}

.cancelButton {
    color: green;
}

.error {
    margin: 5px 0 0 0;
    color: red;
    font-size: 18px;
    text-align: center;
}

.success {
    margin: 5px 0 0 0;
    color: green;
    font-size: 18px;
    text-align: center;
}